In [124]:
import pandas as pd

## Loading the dataset

In [125]:
data = pd.read_csv("/workspaces/Jobs-in-Recession-Analysis-With-Prediction/dataset.csv")

In [126]:
data.head()

,Year,Quarter,GDP_Growth,Inflation,Industrial_Production,Job_Market,Recession_Indicator
0,2016,Q1,3.866202,5.795522,4.063915,72806,0
1,2013,Q1,6.624839,4.008880,0.301156,51465,0
2,2022,Q4,3.469627,6.322668,-3.622371,64109,0
3,2020,Q3,3.907552,1.415962,-1.309438,53528,1
4,2017,Q4,1.586789,1.885589,2.220974,39230,0

## Preprocessing

In [127]:
data.isnull()

,Year,Quarter,GDP_Growth,Inflation,Industrial_Production,Job_Market,Recession_Indicator
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False

In [128]:
data.isnull().sum()

Year                     0
Quarter                  0
GDP_Growth               0
Inflation                0
Industrial_Production    0
Job_Market               0
Recession_Indicator      0
dtype: int64

#### Clearly Visible , there is no null , so our data is cleaned then proceeding to select features and target

#### Let's transform Quarter character values into integer for numerical data

In [129]:
data['Quarter'].unique()

array(['Q1', 'Q4', 'Q3', 'Q2'], dtype=object)

In [130]:
data['Quarter']=data['Quarter'].map({'Q1':1,'Q2':2,'Q3':3,'Q4':4})

In [131]:
data['Quarter'].unique()

array([1, 4, 3, 2])

In [132]:
X = data[['Year','Quarter','GDP_Growth','Inflation', 'Industrial_Production', 'Job_Market']]

In [133]:
y = data['Recession_Indicator']

In [134]:
X

      Year  Quarter  GDP_Growth  Inflation  Industrial_Production  Job_Market
0     2016        1    3.866202   5.795522               4.063915       72806
1     2013        1    6.624839   4.008880               0.301156       51465
2     2022        4    3.469627   6.322668              -3.622371       64109
3     2020        3    3.907552   1.415962              -1.309438       53528
4     2017        4    1.586789   1.885589               2.220974       39230
...    ...      ...         ...        ...                    ...         ...
2995  2021        1    3.154164  12.653804               0.783076       43332
2996  2020        3    6.825993   2.673752               2.006138       10066
2997  2017        4    8.714885  13.569079               1.546320       42313
2998  2011        4    2.374860   5.110002              -4.509416       70857
2999  2015        1    9.789196   5.656680              -3.963961       48900

[3000 rows x 6 columns]

In [135]:
y

0       0
1       0
2       0
3       1
4       0
       ..
2995    1
2996    1
2997    0
2998    0
2999    0
Name: Recession_Indicator, Length: 3000, dtype: int64

### Splitting data for training and testing

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

#### Standardize the features for convergence

In [138]:
from sklearn.preprocessing import StandardScaler

In [139]:
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

#### Now,we will import the models(Algos)

In [140]:
from sklearn.linear_model import LogisticRegression

In [142]:
from sklearn.tree import DecisionTreeClassifier

In [144]:
from sklearn.ensemble import RandomForestClassifier

In [146]:
from sklearn.neighbors import KNeighborsClassifier

In [148]:
from sklearn.svm import SVC

## Model evaluation

In [150]:
l_acc = round(l.score(X_test,y_test)*100,2)
d_acc = round(d.score(X_test,y_test)*100,2)
rf_acc = round(rf.score(X_test,y_test)*100,2)
k_acc = round(k.score(X_test,y_test)*100,2)
s_acc = round(s.score(X_test,y_test)*100,2)

In [151]:
models=pd.DataFrame({'Models':['LogisticRegression','RandomForestClassifier','DecisionTreeClassifier','KNN','SVC'],
"Accuracy":[l_acc,d_acc,rf_acc,k_acc,s_acc]
})

In [152]:
models

                   Models  Accuracy
0      LogisticRegression     88.44
1  RandomForestClassifier    100.00
2  DecisionTreeClassifier    100.00
3                     KNN     86.56
4                     SVC     88.44

### Among all , the accuracy of RandomForestClassifer is highest.

## Test on New Data

In [153]:
# new_data = pd.DataFrame({
#     'Year':[2024],
#     'Quarter':[4],
#     'GDP_Growth': [5.8],
#     'Inflation': [7.5],
#     'Industrial_Production': [-1.9],
#     'Job_Market': [70000]
# })

In [154]:
# new_data

### Standardize the new data using the same scaler

In [155]:
# new_data_scaled = scaler.transform(new_data)

### Making predictions for the new data

In [156]:

prediction = rf.predict([[2024,3,8.2,6.9,2.4,50000]])

/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [157]:
if prediction == 0:
    print("Recession not possible")
else:
    print("Recession is possible")

Recession not possible

### Let's Build Final Model

In [158]:
import joblib

In [160]:
model = joblib.dump(final_model,'Recession_Model')